/* ===============================================
  ページ全体 (body)
  =============================================== */
body {
  /* レイアウト (Flexbox) */
  display: flex;
  flex-flow: column; /* 縦方向配置 */
  justify-content: center; /* 垂直中央揃え */
  align-items: center; /* 水平中央揃え */

  /* ボックスモデル */
  height: 100svh; /* ビューポートの高さ */
  margin: 0; /* デフォルトマージン解除 */
  padding: 0;

  /* 外観 */
  background-color: #ffe6bd80; /* 背景色 (半透明) */
}

/* ===============================================
    オーバーレイ (#cover)
    =============================================== */
#cover {
  /* 配置 */
  position: fixed; /* 画面固定 */
  top: 0;
  left: 0;
  z-index: 10; /* 最前面表示 */

  /* ボックスモデル */
  width: 101%;
  height: 101vh;
  margin: 0;
  padding: 0;

  /* 外観 */
  background-color: #00000080; /* 背景色 (半透明の黒) */
  touch-action: manipulation;
}

/* ===============================================
    入力フォーム (#input-form)
    =============================================== */
#input-form {
  /* 配置 */

  /* レイアウト (Flexbox) */
  display: inline-flex; /* インライン要素としてFlexコンテナ化 */
  flex-direction: column; /* 縦方向配置 */
  align-items: center; /* 水平中央揃え */
  justify-content: center; /* 垂直中央揃え */

  /* ボックスモデル */
  /* レスポンシブな幅/高さ */
  width: min(50vw, calc(50svh * 16 / 9));
  height: min(70svh, calc(70vw * 9 / 16));
  /* 画面中央配置のためのマージン計算 */
  margin-top: calc((100svh - min(70svh, calc(70vw * 9 / 16))) / 2);
  margin-left: calc((100vw - min(50vw, calc(50svh * 16 / 9))) / 2);

  /* タイポグラフィ */
  font-size: min(1.5vw, calc(1.5vh * 16 / 9));
  text-align: center;

  /* 外観 */
  background-color: beige;
}

#why-google-login{
  position: relative;
  font-size: min(1.2vw, calc(1.2vh * 16 / 9));
}
#why-google-login-hover{
  position: absolute;
  display: none;
  width:min(19.5vw, calc(19.5svh * 16 / 9));
  font-size: min(0.9vw, calc(0.9vh * 16 / 9));
  background-color: #FFFFFFA0;
  border: 1px solid #a8a8a8;
  text-align: start;
}
#why-google-login:hover #why-google-login-hover{
  display: inline-block;
}

/* ===============================================
    ファイル入力 (.first-file-input)
    =============================================== */
.first-file-input {
  /* タイポグラフィ */
  font-size: min(1.5vw, calc(1.5vh * 16 / 9));
}

/* ===============================================
    フォームを閉じる (.close-form)
    =============================================== */
#close-form {
  /* タイポグラフィ */
  font-size: min(2vw, calc(2vh * 16 / 9));
}

/* ===============================================
    メインコンテンツラッパー (#wrapper)
    =============================================== */
#wrapper {
  /* レイアウト (Flexbox) */
  display: flex;

  /* ボックスモデル */
  /* レスポンシブな幅/高さ (パディング考慮) */
  width: min(calc(99vw), calc(99svh * 16 / 9));
  height: min(calc(99svh), calc(99vw * 9 / 16));
  padding: 0;
  margin: 0;

  /* 外観 */
  background-color: rgb(143, 51, 37);
  touch-action: manipulation;
}

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}

html {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}
body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  touch-action: manipulation;
}